<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ew.school_epidemic.mapper.AreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ew.school_epidemic.entity.Area">
        <id column="areaid" property="areaid" />
        <result column="areaname" property="areaname" />
        <result column="arealevel" property="arealevel" />
        <result column="time" property="time" />
    </resultMap>

</mapper>
